<launch>
    <!-- Start SLAM -->
    <include file="$(find automow_navigation)/config/slam.xml" />

    <!-- Start the EKF -->
    <include file="$(find automow_navigation)/launch/robot_pose_ekf.launch" />

    <!-- Start the move_base Node -->
    <include file="$(find automow_navigation)/launch/move_base_automow.launch" />
</launch>
